@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.nbalogo{
    width: 15%;
    display: block;
  }


.navb{
  text-align: end;
  width: 90%;
}
.nameHeader{
    display: flex;
    background-color: rgb(216, 216, 216);
    width: 100%;
    margin-top: 0px;
    height: 20%;

    
}


h1{
    font-size: 150px;
    font-family: 'Gilroy-Bold';
    color: rgb(255, 255, 255);
    margin-top: -0.1%;
    -webkit-text-stroke: 2px rgb(0, 0, 0); 

}

.teamLogo{
    width: 10%;

}

.playerImg{
    width: 30%;
    max-height: 200px;
    display: inline;
}
.players{
    display: flex;
    margin: 30px;
}

.players p {

    font-size: 25px;
    margin-top: 60px;
    margin-left: 30px;
    font-weight: 700;
}

.players a {

text-decoration: none;
color: black;
}

.players a:hover {

    text-decoration: none;
    color: rgb(97, 97, 97);
    }
.scroll{
    overflow-y: scroll;
    width: 40%;
    max-height: 700px;
}

mat-form-field{
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
}

.coachs p{
    font-size: 20px;
    margin-top: 50px;
    font-weight: 700;
}

.coachs{
    display: flex;
    margin: 30px;
}

.games{
    width: 60%;
    display: flex;
float: right;
margin-right: 100px;

}

.games p{
   margin-top: 80px;
   font-weight: bold;
   font-size: x-large;
}

.games img{
    width: 30%;
}
.container{
    
}

.aaa{
    margin-top: -805px;
    background-color: rgb(216, 216, 216);
    width: 60%;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 800px;

}
