.example-card {
    min-width:250px ;
    display: inline-block;
    margin: 2%;
    text-align: center;

  }
  
  .example-header-image {
    background-size: cover;
  }


  .cont{
    text-align: center;
    width: 100%;
    background-color: rgb(204, 204, 204);
  }

  .nbalogo {
    width: 15%;
    display: block;
  }


.navb{
  text-align: end;
  width: 90%;
}
h2{
  color: rgb(206, 206, 206);
}